body{
    background-color: dodgerblue;
}
.bloque{
    background-color: aqua;
  border-bottom-left-radius: 90px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 34px;
    border-bottom-left-radius: 55px;
}

.title{
    background-color: azure;
    font-family: cursive;
    position: relative;
}